@use "../00_common/variables" as *;

svg.cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    width: 100%;
    height: 100%;

    line {
        stroke: $slate;
        stroke-width: 5;
        filter: drop-shadow(0 0 5px $grey);
    }
}