@use "../00_common/variables" as *;

// Mixin for bold span inside headings
@mixin heading-bold-span {
    span.bold {
        font-weight: bold;
    }
}

// Base heading mixin to apply font family + base weight
@mixin heading-base {
    font-family: $ff-heading;
    font-weight: normal;
    @include heading-bold-span;
}

// Individual heading sizes
@mixin heading-h1 {
    @include heading-base;
    font-size: 3rem; // 48px;
}

@mixin heading-h2 {
    @include heading-base;
    font-size: 2.5rem; // 40px;
}

@mixin heading-h3 {
    @include heading-base;
    font-size: 2rem; // 28px;
}

@mixin heading-h4 {
    @include heading-base;
    font-size: 1.75rem; // 24px;
}

h1 {
    @include heading-h1;
}

h2 {
    @include heading-h2;
}

h3 {
    @include heading-h3;
}

h4 {
    @include heading-h4;
}