@use "../00_common/variables";
@use "../00_common/mixins" as *; // allows direct use of @include respond-to(...)


.text {
    font-family: variables.$ff-body;
    font-weight: normal;

    //body text
    &--sm {
        font-size: variables.$sm;
        line-height: 168%; // 28px;
    }

    &--md {
        font-size: variables.$md;
        line-height: 168%; // 28px;
    }

    &--lg {
        font-size: variables.$lg;
        line-height: 168%; // 28px;
    }

    &--xl {
        font-size: variables.$xl;
        line-height: 168%; // 28px;
    }
}

.text-subtitle {
    font-family: variables.$ff-heading;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.25rem; // 20px;
    font-style: italic;
    color: variables.$darkGreen;

    @include respond-to(tablet) {
        font-size: 1.5rem; // 24px;
    }

    @include respond-to(desktop) {
        font-size: 1.75rem; // 28px;
    }
}