@use "../00_common/variables";

.text {
    font-family: variables.$ff-body;
    font-weight: normal;

    //body text
    &--sm {
        font-size: variables.$sm;
        line-height: 168%; // 28px;
    }

    &--md {
        font-size: variables.$md;
        line-height: 168%; // 28px;
    }

    &--lg {
        font-size: variables.$lg;
        line-height: 168%; // 28px;
    }

    &--xl {
        font-size: variables.$xl;
        line-height: 168%; // 28px;
    }
}

.text-subtitle {
    font-family: variables.$ff-heading;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.25rem; // 20px;
    font-style: italic;
    color: variables.$yellow;
}