@use "../00_common/variables" as *;
@use "../00_common/mixins" as *;

@mixin text--sm {
    font-family: $ff-body;
    font-weight: normal;
    font-size: $sm;
    line-height: 168%; // 28px;
}

@mixin text--md {
    font-family: $ff-body;
    font-weight: normal;
    font-size: $md;
    line-height: 168%; // 28px;
}

@mixin text--lg {
    font-family: $ff-body;
    font-weight: normal;
    font-size: $lg;
    line-height: 168%; // 28px;
}

@mixin text--xl {
    font-family: $ff-body;
    font-weight: normal;
    font-size: $xl;
    line-height: 168%; // 28px;
}

.text-subtitle {
    font-family: $ff-heading;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.25rem; // 20px;
    font-style: italic;
    color: $darkGreen;

    @include respond-to(tablet) {
        font-size: 1.5rem; // 24px;
    }

    @include respond-to(desktop) {
        font-size: 1.75rem; // 28px;
    }
}

.mobile-br {
    display: inline;

    @include respond-to(tablet) {
        display: none;
    }
}

.accent {
    font-weight: bold;
}