//colors
$darkGreen: #374729;
$Green: #9D9A55;
$lightGreen: #C6BD56;
$yellow: #FFEBAE;
$orange: #FF914D;
$lila: #DBB8FF;

//neutrals
$white: #FFFFFF;
$black: #252525;
$darkGrey: #8A8A8A;
$grey: #D9D9D9;
$lightGrey: #F1F1F1;
$beige: #F0EEE8;

//font families
$ff-logo: 'Righteous', sans-serif;
$ff-heading: 'Raleway', sans-serif;
$ff-body: 'Helvetica', sans-serif;

//font sizes
$sm: 1rem; // 16px;
$md: 1.063rem; // 17px;
$lg: 1.125rem; // 18px;
$xl: 1.25rem; // 20px;
$xxl: 1.5rem; // 24px;

//gradiants