//colors
$darkGreen: #374729;
$green: #9D9A55;
$lightGreen: #C6BD56;
$yellow: #FFEBAE;
$orange: #FF914D;
$lila: #DBB8FF;

//neutrals
$white: #FFF;
$black: #000;
$darkGrey: #8A8A8A;
$grey: #D9D9D9;
$lightGrey: #F1F1F1;
$beige: #F0EEE8;

//font families
$ff-logo: 'Righteous', sans-serif;
$ff-heading: 'Raleway', sans-serif;
$ff-body: 'Nunito', sans-serif;

//font sizes
$sm: 0.875rem; // 14px;
$md: 1.125rem; // 18px;
$lg: 1.25rem; // 20px;
$xl: 1.5rem; // 24px;