//colors
$darkGreen: #404E3B;
$green: #7B9669;
$slate: #6C8480;
$teal: #BAC8B1;
$blue: #678AF4;
$purple: #BF6CE9;

//neutrals
$white: #FFF;
$black: #000;
$darkGrey: #8A8A8A;
$grey: #D9D9D9;
$lightGrey: #F1F1F1;
$beige: #E6E6E6;

//font families
$ff-logo: 'Righteous', sans-serif;
$ff-heading: 'Raleway', sans-serif;
$ff-body: 'Nunito', sans-serif;

//font sizes
$sm: 0.875rem; // 14px;
$md: 1.125rem; // 18px;
$lg: 1.25rem; // 20px;
$xl: 1.5rem; // 24px;