h1 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
h1 span.bold {
  font-weight: bold;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
h2 span.bold {
  font-weight: bold;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2rem;
}
h3 span.bold {
  font-weight: bold;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
}
h4 span.bold {
  font-weight: bold;
}

.text-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-style: italic;
  color: #374729;
}
@media (min-width: 768px) {
  .text-subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .text-subtitle {
    font-size: 1.75rem;
  }
}

.mobile-br {
  display: inline;
}
@media (min-width: 768px) {
  .mobile-br {
    display: none;
  }
}

svg.cursor-trail {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
svg.cursor-trail line {
  stroke: #C6BD56;
  stroke-width: 5;
  filter: drop-shadow(0 0 5px #D9D9D9);
}

.logo--small {
  width: 86px;
  height: auto;
}
.logo--footer img {
  width: 175px;
  height: auto;
}

.logo-wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-indicator .indicator {
  width: 28px;
  height: 16px;
}

.dot {
  position: absolute;
  background-color: #0ae448;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  will-change: transform, opacity;
  pointer-events: none;
}

.button {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
  min-width: 160px;
  height: 48px;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
}
.button--primary {
  background-color: #C6BD56;
  color: #374729;
  border: 1px solid #9D9A55;
}
.button--lila {
  background-color: #DBB8FF;
  color: #374729;
  border: 1px solid #FFEBAE;
}
.button--yellow {
  background-color: #FFEBAE;
  color: #374729;
  border: 1px solid #9D9A55;
}
.button--darkGreen {
  background-color: #374729;
  color: #FFEBAE;
  border: 1px solid #9D9A55;
}
.button:hover {
  cursor: pointer;
}

.button-char {
  display: inline-block;
  will-change: transform;
}
.button-char--bold {
  font-weight: bold;
}

.card--lila {
  background-color: #DBB8FF;
}
.card--green {
  background-color: #9D9A55;
}
.card--orange {
  background-color: #FF914D;
}
.card--practical {
  background-color: #FFEBAE;
  border: 1px solid #9D9A55;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.card--practical__info {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 168%;
  font-weight: bold;
}
.card--practical__name {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 168%;
  font-weight: normal;
}
.card--insights {
  width: 90%;
  min-height: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.card--insights__content {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
}

.header {
  width: 100%;
  position: relative;
  z-index: 999;
}
.header__navbar {
  position: fixed;
  top: 16px;
  right: 5%;
  width: 90%;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 20;
  padding: 12.5px 12.5px 0 0;
  border-radius: 30px;
}
.header__menu-toggle {
  background: none;
  border: none;
  outline: none;
  z-index: 20;
}
.header__menu-toggle #theBurger {
  width: 65px;
  height: 65px;
  cursor: pointer;
  opacity: 0;
}
.header__menu {
  position: fixed;
  top: 16px;
  right: 5%;
  width: 90px;
  background-image: url("../img/home-background-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 0;
  z-index: 10;
  padding-top: 90px;
}
.header__menu__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0 2rem;
}
.header__menu__items .header__menu__item {
  position: relative;
  display: inline-block;
  width: 30%;
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
}
.header__menu__items .header__menu__item a {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.75rem;
  color: #374729;
  text-decoration: none;
  font-weight: bold;
}
.header__menu__items .header__menu__item a span.bold {
  font-weight: bold;
}
@media (min-width: 768px) {
  .header__navbar {
    top: 24px;
    right: 24px;
    width: 60%;
  }
  .header__menu-toggle #theBurger {
    width: 75px;
    height: 75px;
  }
  .header__menu {
    top: 24px;
    right: 24px;
    width: 100px;
    padding-top: 100px;
  }
}
@media (min-width: 1024px) {
  .header__navbar {
    top: 32px;
    right: 32px;
    width: 40%;
  }
  .header__menu {
    top: 32px;
    right: 32px;
  }
  .header__menu__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/home-background-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 35vh;
}
.home__container__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.home__container__content .logo {
  width: 100%;
}
.home__container__content .logo img {
  width: 100%;
}
.home__container__content .home__subtitle {
  display: inline-block;
}
.home__container__content .home__subtitle span {
  display: inline-block;
}
.home__container .scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .home {
    background-image: url("../img/home-background.jpg");
  }
  .home__container {
    width: 60%;
    padding-top: 30vh;
  }
  .home__container__content {
    gap: 16px;
  }
  .home__container__content .logo img {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .home {
    background-image: url("../img/home-background.jpg");
  }
  .home__container {
    width: 50%;
    padding-top: 25vh;
  }
  .home__container__content {
    gap: 20px;
  }
}

.cohousing {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F0EEE8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cohousing__container {
  width: 80%;
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cohousing__container .cohousing__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
}
.cohousing__container .cohousing__content__title {
  width: fit-content;
  margin-bottom: 48px;
  text-align: initial;
}
.cohousing__container .cohousing__content__title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
.cohousing__container .cohousing__content__title h2 span.bold {
  font-weight: bold;
}
.cohousing__container .cohousing__content__title h2 .cohousing-word {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
.cohousing__container .cohousing__content__title h2 .cohousing-word span.bold {
  font-weight: bold;
}
.cohousing__container .cohousing__content__title h2 .cohousing-word:first-child {
  font-weight: bold;
}
.cohousing__container .cohousing__content__text {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 168%;
}
.cohousing__container .cohousing__content__text .cohousing-line {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 168%;
}
.cohousing__container .cohousing__cta {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .cohousing__container {
    width: 70%;
    margin-top: 25%;
  }
  .cohousing__container .cohousing__content__title {
    margin-bottom: 56px;
  }
  .cohousing__container .cohousing__content__text {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .cohousing {
    align-items: center;
  }
  .cohousing__container {
    width: 60%;
    margin-top: 0;
  }
  .cohousing__container .cohousing__content__title {
    margin-bottom: 64px;
  }
  .cohousing__container .cohousing__content__text {
    max-width: 60%;
  }
  .cohousing__container .cohousing__cta {
    width: 100%;
  }
}

.transition__arms {
  display: none;
}
@media screen and (min-width: 1500px) {
  .transition__arms {
    display: block;
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 998;
  }
  .transition__arms .arm {
    position: absolute;
  }
  .transition__arms .arm--bottom {
    width: 343px;
    height: 235px;
    bottom: -343px;
    left: 40%;
  }
  .transition__arms .arm--top {
    width: 226px;
    height: 366px;
    top: -366px;
    left: 15%;
  }
  .transition__arms .arm--left {
    width: 210px;
    height: 349px;
    left: -210px;
    top: 40%;
  }
  .transition__arms .arm--right {
    width: 270px;
    height: 298px;
    right: -270px;
    top: 30%;
  }
  .transition__arms .arm--bottom-right {
    width: 243px;
    height: 280px;
    bottom: -280px;
    left: 75%;
  }
}

.about-us {
  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
  background-image: url("../img/about-us-background-mobile.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us__container .about-us__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.about-us__container .about-us__items .about-us__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.about-us__container .about-us__items .about-us__item__icon {
  width: 30px;
  height: auto;
}
.about-us__container .about-us__items .about-us__item__title {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 168%;
  font-weight: bold;
  line-height: initial;
}
.about-us__container .about-us__items .about-us__item__text {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
}
.about-us__cta {
  margin-top: 48px;
}
@media (min-width: 768px) {
  .about-us {
    background-image: url("../img/about-us-background.jpg");
    height: auto;
    padding: 80px 0;
  }
  .about-us__container .about-us__items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 48px;
    column-gap: 48px;
  }
  .about-us__container .about-us__items .about-us__item {
    width: calc(50% - 24px);
    height: 100%;
  }
  .about-us__container .about-us__items .about-us__item__icon {
    width: 36px;
  }
  .about-us__cta {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about-us {
    background-image: url("../img/about-us-background.jpg");
  }
  .about-us__container {
    width: 80%;
  }
  .about-us__container .about-us__items {
    flex-wrap: nowrap;
    gap: 86px;
  }
  .about-us__container .about-us__items .about-us__item {
    width: calc(25% - 24px);
  }
  .about-us__container .about-us__items .about-us__item__icon {
    width: 40px;
  }
}

.our-story {
  width: 100%;
  min-height: 100vh;
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374729;
  color: white;
}
.our-story__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-story__container .our-story__title {
  margin: 8px 0 40px;
  text-align: center;
  font-weight: bold;
}
.our-story__container .our-story__content {
  width: 100%;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.our-story__container .our-story__content__col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media (min-width: 1024px) {
  .our-story__container {
    align-items: flex-start;
    width: 60%;
  }
  .our-story__container .our-story__content {
    flex-direction: row;
    align-items: flex-start;
    gap: 86px;
  }
  .our-story__container .our-story__content__col {
    width: 50%;
    align-items: flex-start;
  }
}

.faciliteiten {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EEE8;
}
.faciliteiten__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faciliteiten__container .faciliteiten__img {
  width: 100%;
  height: 33.3333333333vh;
}
.faciliteiten__container .faciliteiten__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  will-change: transform, opacity;
}
.faciliteiten__container .faciliteiten__content {
  width: 100%;
  min-height: 66.6666666667vh;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faciliteiten__container .faciliteiten__content__title {
  width: fit-content;
  margin-bottom: 32px;
}
.faciliteiten__container .faciliteiten__content__body {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
  gap: 32px;
  margin-bottom: 48px;
}
.faciliteiten__container .faciliteiten__content__body .faciliteiten__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 32px;
}
.faciliteiten__container .faciliteiten__content__body .faciliteiten__list li {
  list-style: disc;
}
.faciliteiten__container .faciliteiten__content__cta {
  width: fit-content;
}
@media screen and (min-width: 1100px) {
  .faciliteiten {
    align-items: stretch;
  }
  .faciliteiten__container {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
  .faciliteiten__container .faciliteiten__img {
    width: 40%;
    height: 100%;
    max-height: 100vh;
  }
  .faciliteiten__container .faciliteiten__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .faciliteiten__container .faciliteiten__content {
    width: 60%;
    padding: 5% 5%;
    align-items: flex-start;
    justify-content: center;
  }
}

.practical {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EEE8;
}
.practical__container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.practical__container .practical__img {
  width: 100%;
  height: 50vh;
}
.practical__container .practical__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.practical__container .practical__content {
  width: 100%;
  min-height: 50vh;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.practical__container .practical__content__body {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.practical__container .practical__content__body .practical__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 24px;
}
@media screen and (min-width: 1100px) {
  .practical {
    align-items: stretch;
  }
  .practical__container {
    flex-direction: row-reverse;
    align-items: stretch;
    min-height: 100vh;
  }
  .practical__container .practical__content {
    width: 40%;
    padding: 5%;
    justify-content: center;
    align-items: flex-start;
  }
  .practical__container .practical__content__body {
    width: 100%;
  }
  .practical__container .practical__img {
    width: 60%;
    height: 100%;
    max-height: 100vh;
  }
  .practical__container .practical__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.insights {
  width: 100%;
  min-height: 100vh;
  background-color: #F0EEE8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insights__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insights__container .insights__content {
  width: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insights__container .insights__content__body {
  margin-bottom: 48px;
}
.insights__container .insights__content__body .insights__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.insights__container .insights__content__title {
  width: fit-content;
  text-align: center;
  margin-bottom: 32px;
}
.insights__container .insights__content__title h2 {
  font-weight: bold;
}
@media (min-width: 768px) {
  .insights__container {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .insights__container {
    width: 80%;
  }
  .insights__container .insights__content {
    gap: 128px;
  }
  .insights__container .insights__content__body {
    margin-bottom: 0;
  }
  .insights__container .insights__content__body .insights__cards {
    flex-direction: row;
    align-items: stretch;
    gap: 32px;
  }
  .insights__container .insights__content__title {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .insights__container .insights__content__body .insights__cards {
    gap: 48px;
  }
}
@media screen and (min-width: 1600px) {
  .insights__container {
    width: 70%;
  }
}

.portal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374729;
}
.portal__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 256px;
}
.portal__container .portal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portal__container .portal__content__title {
  width: fit-content;
  text-align: center;
  margin-bottom: 86px;
}
.portal__container .portal__content__title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  color: #FFEBAE;
}
.portal__container .portal__content__title h2 span.bold {
  font-weight: bold;
}
.portal__container .portal__content__title h2 .portal-char {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  color: #FFEBAE;
}
.portal__container .portal__content__title h2 .portal-char span.bold {
  font-weight: bold;
}
@media (min-width: 768px) {
  .portal__container {
    width: 70%;
  }
  .portal__container .portal__content__title h2 {
    font-size: 4rem;
  }
  .portal__container .portal__content__title h2 .portal-char {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .portal__container {
    width: 60%;
  }
}

footer.footer {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #C6BD56;
}
footer.footer .footer__container {
  width: 80%;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.footer .footer__container .footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer .footer__container .footer__content .footer__logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 48px;
}
footer.footer .footer__container .footer__content__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer .footer__container .footer__content__body--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer .footer__container .footer__content__body--left .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 64px;
}
footer.footer .footer__container .footer__content__body--left .contact-info__title h2 {
  font-weight: bold;
  color: #374729;
}
footer.footer .footer__container .footer__content__body--left .contact-info__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  color: #374729;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
}
footer.footer .footer__container .footer__content__body--left .contact-info__details a {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 168%;
  color: #374729;
  text-decoration: underline;
}
footer.footer .footer__container .footer__content__body--left .contact-info__details a:hover {
  font-weight: bold;
  cursor: pointer;
}
footer.footer .footer__container .footer__content__body--left .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
footer.footer .footer__container .footer__content__body--left .socials__title h2 {
  font-weight: bold;
  color: #374729;
}
footer.footer .footer__container .footer__content__body--left .socials__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
footer.footer .footer__container .footer__content__body--left .socials__links a:hover {
  cursor: pointer;
}
footer.footer .footer__container .footer__content__body--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 64px;
}
footer.footer .footer__container .footer__content__body--right .footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
footer.footer .footer__container .footer__content__body--right .footer__links a {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #374729;
}
footer.footer .footer__container .footer__content__body--right .footer__links a span.bold {
  font-weight: bold;
}
footer.footer .footer__container .footer__content__body--right .footer__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.075em;
  background-color: #374729;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
}
footer.footer .footer__container .footer__content__body--right .footer__links a:hover {
  cursor: pointer;
}
footer.footer .footer__container .footer__content__body--right .footer__links a:hover::after {
  opacity: 1;
  transform: scale(1);
}
@media (min-width: 768px) {
  footer.footer {
    min-height: 65vh;
  }
  footer.footer .footer__container {
    width: 85%;
    padding: 10% 0;
  }
  footer.footer .footer__container .footer__content .footer__logo {
    justify-content: center;
    margin-bottom: 96px;
  }
  footer.footer .footer__container .footer__content__body {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer.footer .footer__container .footer__content__body--left {
    width: 40%;
    margin-bottom: 0;
  }
  footer.footer .footer__container .footer__content__body--left .contact-info {
    width: 100%;
  }
  footer.footer .footer__container .footer__content__body--left .contact-info__details {
    gap: 16px;
  }
  footer.footer .footer__container .footer__content__body--left .socials {
    width: 100%;
  }
  footer.footer .footer__container .footer__content__body--right {
    width: 30%;
    margin-bottom: 0;
  }
  footer.footer .footer__container .footer__content__body--right .footer__links {
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  footer.footer .footer__container {
    width: 70%;
    padding: 8% 0;
  }
}
@media screen and (min-width: 1600px) {
  footer.footer .footer__container {
    width: 60%;
  }
}

.quote {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/quote-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.quote__container {
  position: relative;
  width: 80%;
  padding: 0 48px;
  min-height: 80vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  background-color: #FFF;
}
.quote__container .quote__content {
  width: 100%;
}
.quote__container .quote__content__text p {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
.quote__container .quote__content__text p span.bold {
  font-weight: bold;
}
.quote__container .quote__content__text p .quote-word {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
}
.quote__container .quote__content__text p .quote-word span.bold {
  font-weight: bold;
}
.quote__container .quote__mark {
  display: flex;
}
.quote__container .quote__mark__img {
  width: 64px;
}
.quote__container .quote__mark--top {
  justify-content: flex-start;
  margin-top: -24px;
}
.quote__container .quote__mark--bottom {
  justify-content: flex-end;
  margin-bottom: -24px;
}
@media (min-width: 768px) {
  .quote__container {
    padding: 0 64px;
    min-height: 70vh;
  }
  .quote__container .quote__mark__img {
    width: 86px;
  }
  .quote__container .quote__mark--top {
    margin-top: -32px;
  }
  .quote__container .quote__mark--bottom {
    margin-bottom: -32px;
  }
}
@media (min-width: 1024px) {
  .quote__container {
    padding: 0 86px;
    min-height: 60vh;
  }
}

section {
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #F0EEE8;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}