h1, .portal__container .portal__content__title h2, h2, .quote__container .quote__content__text p, h3, footer.footer .footer__container .footer__content .footer__links a, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}
h1 span.bold, .portal__container .portal__content__title h2 span.bold, h2 span.bold, .quote__container .quote__content__text p span.bold, h3 span.bold, footer.footer .footer__container .footer__content .footer__links a span.bold, h4 span.bold {
  font-weight: bold;
}

h1, .portal__container .portal__content__title h2 {
  font-size: 3rem;
}

h2, .quote__container .quote__content__text p {
  font-size: 2.5rem;
}

h3, footer.footer .footer__container .footer__content .footer__links a {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

.text {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
}
.text--sm, .about-us__container .about-us__items .about-us__item__text {
  font-size: 0.875rem;
  line-height: 168%;
}
.text--md, footer.footer .footer__container .footer__content .contact-info__details, footer.footer .footer__container .footer__content .contact-info__details a, .practical__container .practical__content__body, .faciliteiten__container .faciliteiten__content__body, .our-story__container .our-story__content, .card--practical__name, .card--insights__content, .button {
  font-size: 1.125rem;
  line-height: 168%;
}
.text--lg, .cohousing__container .cohousing__content__text {
  font-size: 1.25rem;
  line-height: 168%;
}
.text--xl, .about-us__container .about-us__items .about-us__item__title, .card--practical__info {
  font-size: 1.5rem;
  line-height: 168%;
}

.text-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-style: italic;
  color: #374729;
}
@media (min-width: 768px) {
  .text-subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .text-subtitle {
    font-size: 1.75rem;
  }
}

.logo--small {
  width: 86px;
  height: auto;
}
.logo--footer {
  width: 175px;
  height: auto;
}
.logo--footer img {
  width: 100%;
  height: auto;
}

.button {
  width: 148px;
  height: 48px;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.button--primary {
  background-color: #C6BD56;
  color: #374729;
  border: 1px solid #9D9A55;
}
.button--lila {
  background-color: #DBB8FF;
  color: #374729;
  border: 1px solid #FFEBAE;
}
.button--yellow {
  background-color: #FFEBAE;
  color: #374729;
  border: 1px solid #9D9A55;
}
.button--darkGreen {
  background-color: #374729;
  color: #FFEBAE;
  border: 1px solid #9D9A55;
}
.button:hover {
  cursor: pointer;
}

.card--lila {
  background-color: #DBB8FF;
}
.card--green {
  background-color: #9D9A55;
}
.card--orange {
  background-color: #FF914D;
}
.card--practical {
  background-color: #FFEBAE;
  border: 1px solid #9D9A55;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.card--practical__info {
  font-weight: bold;
}
.card--practical__name {
  font-weight: normal;
}
.card--insights {
  width: 90%;
  min-height: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.home {
  width: 100%;
  background-image: url("../img/home-background-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 35vh;
}
.home__container__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.home__container__content .logo {
  width: 100%;
}
.home__container__content .logo img {
  width: 100%;
}
.home__container .scroll-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
}
.home__container .scroll-arrow img {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .home {
    background-image: url("../img/home-background.jpg");
  }
  .home__container {
    width: 60%;
    padding-top: 30vh;
  }
  .home__container__content {
    gap: 16px;
  }
  .home__container__content .logo img {
    width: 90%;
  }
  .home__container .scroll-arrow img {
    width: 28px;
    height: 28px;
  }
}
@media (min-width: 1024px) {
  .home {
    background-image: url("../img/home-background.jpg");
  }
  .home__container {
    width: 50%;
    padding-top: 25vh;
  }
  .home__container__content {
    gap: 20px;
  }
  .home__container__content .logo img {
    width: 90%;
  }
  .home__container .scroll-arrow img {
    width: 32px;
    height: 32px;
  }
}

.cohousing {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cohousing__container {
  width: 80%;
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cohousing__container .cohousing__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
}
.cohousing__container .cohousing__content__title {
  width: fit-content;
  margin-bottom: 48px;
  text-align: initial;
}
.about-us {
  width: 100%;
  height: 100vh;
  background-image: url("../img/about-us-background-mobile.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us__container .about-us__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.about-us__container .about-us__items .about-us__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.about-us__container .about-us__items .about-us__item__icon {
  width: 30px;
  height: auto;
}
.about-us__container .about-us__items .about-us__item__title {
  font-weight: bold;
  line-height: initial;
}
.about-us__cta {
  margin-top: 48px;
}

.our-story {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #374729;
  color: white;
}
.our-story__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-story__container .our-story__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 40px;
  text-align: center;
  font-weight: bold;
}
.our-story__container .our-story__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.faciliteiten {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EEE8;
}
.faciliteiten__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.faciliteiten__container .faciliteiten__img {
  width: 100%;
  height: 33.3333333333vh;
}
.faciliteiten__container .faciliteiten__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.faciliteiten__container .faciliteiten__content {
  width: 100%;
  min-height: 66.6666666667vh;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faciliteiten__container .faciliteiten__content__title {
  width: fit-content;
  margin-bottom: 32px;
}
.faciliteiten__container .faciliteiten__content__body {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
}
.faciliteiten__container .faciliteiten__content__body .faciliteiten__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 32px;
}
.faciliteiten__container .faciliteiten__content__body .faciliteiten__list li {
  list-style: disc;
}

.practical {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EEE8;
}
.practical__container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.practical__container .practical__img {
  width: 100%;
  height: 50vh;
}
.practical__container .practical__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.practical__container .practical__content {
  width: 100%;
  min-height: 50vh;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.practical__container .practical__content__body {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.practical__container .practical__content__body .practical__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 24px;
}

.insights {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.insights__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insights__container .insights__content {
  width: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insights__container .insights__content__body {
  margin-bottom: 48px;
}
.insights__container .insights__content__body .insights__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.insights__container .insights__content__title {
  width: fit-content;
  text-align: center;
  margin-bottom: 32px;
}
.insights__container .insights__content__title h2 {
  font-weight: bold;
}

.portal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #374729;
}
.portal__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}
.portal__container .portal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portal__container .portal__content__title {
  width: fit-content;
  text-align: center;
  margin-bottom: 86px;
}
.portal__container .portal__content__title h2 {
  color: #FFEBAE;
}

footer.footer {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #C6BD56;
}
footer.footer .footer__container {
  width: 80%;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer.footer .footer__container .footer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer.footer .footer__container .footer__content .footer__logo {
  margin-bottom: 48px;
}
footer.footer .footer__container .footer__content .footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 64px;
}
footer.footer .footer__container .footer__content .footer__links a {
  text-decoration: none;
  color: #374729;
}
footer.footer .footer__container .footer__content .footer__links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer.footer .footer__container .footer__content .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 64px;
}
footer.footer .footer__container .footer__content .contact-info__title h2 {
  font-weight: bold;
  color: #374729;
}
footer.footer .footer__container .footer__content .contact-info__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  color: #374729;
}
footer.footer .footer__container .footer__content .contact-info__details a {
  color: #374729;
  text-decoration: underline;
}
footer.footer .footer__container .footer__content .contact-info__details a:hover {
  font-weight: bold;
  cursor: pointer;
}
footer.footer .footer__container .footer__content .socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
footer.footer .footer__container .footer__content .socials__title h2 {
  font-weight: bold;
  color: #374729;
}
footer.footer .footer__container .footer__content .socials__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
footer.footer .footer__container .footer__content .socials__links a:hover {
  cursor: pointer;
}

.transition {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.transition__container {
  position: relative;
  width: 85%;
  margin: 20% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transition__container .transition__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.transition__container .transition__background__img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  z-index: -1;
}
.transition__container .transition__content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.transition__container .transition__content .transition__grid {
  width: 80%;
  height: 95%;
  position: absolute;
  bottom: 1%;
  right: 0;
  z-index: -1;
}
.transition__container .transition__content .transition__grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.transition__container .transition__content .transition__art-wrapper .transition__art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.quote {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/quote-background.jpg");
}
.quote__container {
  position: relative;
  width: 80%;
  padding: 0 7%;
  min-height: 80vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  text-align: center;
  background-color: #FFF;
}
.quote__container .quote__content {
  width: 100%;
}
.quote__container .quote__mark {
  display: flex;
}
.quote__container .quote__mark--top {
  justify-content: flex-start;
  margin-top: -20px;
}
.quote__container .quote__mark--bottom {
  justify-content: flex-end;
  margin-bottom: -20px;
}

section {
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F0EEE8;
}