@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.about-us {
    // Color accents for js animation
    --about-us-accent-base: #{$black};
    --about-us-accent-1: #{$slate};
    --about-us-accent-2: #{$darkGreen};
    --about-us-accent-3: #{$green};

    width: 100%;
    min-height: 100vh;
    padding: 10% 0;
    background: $slate;
    background: linear-gradient(45deg,
            rgba(108, 132, 128, 1) 25%,
            rgba(186, 200, 177, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__items {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    &__icon {
        width: 30px;
        height: auto;
    }

    &__title {
        @include text--xl;
        font-weight: bold;
        line-height: initial;
    }

    &__text {
        @include text--md;
    }

    &__cta {
        margin-top: 48px;
    }

    /* Tablet styles */
    @include respond-to(tablet) {
        height: auto;
        padding: 80px 0;

        &__items {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            row-gap: 48px;
            column-gap: 48px;
        }

        &__item {
            width: calc(50% - 24px);
        }

        &__icon {
            width: 36px;
        }

        &__cta {
            margin-top: 100px;
        }
    }

    /* Desktop styles */
    @media screen and (min-width: 1200px) {
        &__container {
            width: 80%;
        }

        &__items {
            flex-wrap: nowrap;
            gap: 86px;
        }

        &__item {
            width: calc(25% - 24px);
        }

        &__icon {
            width: 40px;
        }
    }
}