@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.about-us {
    width: 100%;
    min-height: 100vh;
    padding: 10% 0;
    background-image: url("@/img/about-us-background-mobile-dark.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .about-us__items {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;

            .about-us__item {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                gap: 10px;

                &__icon {
                    width: 30px;
                    height: auto;
                }

                &__title {
                    @include text--xl;
                    font-weight: bold;
                    line-height: initial;
                }

                &__text {
                    @include text--md;
                }
            }
        }
    }

    &__cta {
        margin-top: 48px;
    }

    // Tablet styles
    @include respond-to(tablet) {
        background-image: url("@/img/about-us-background-dark.jpg");
        height: auto;
        padding: 80px 0;

        &__container {
            .about-us__items {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: stretch;
                row-gap: 48px;
                column-gap: 48px;

                .about-us__item {
                    width: calc(50% - 24px);
                    // height: 100%;

                    &__icon {
                        width: 36px;
                    }
                }
            }
        }

        &__cta {
            margin-top: 100px;
        }
    }

    // Desktop styles
    @media screen and (min-width: 1200px) {
        background-image: url("@/img/about-us-background-dark.jpg");

        &__container {
            width: 80%;

            .about-us__items {
                flex-wrap: nowrap;
                gap: 86px;

                .about-us__item {
                    width: calc(25% - 24px);

                    &__icon {
                        width: 40px;
                    }
                }
            }
        }
    }
}