@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.cohousing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__container {
        width: 80%;
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 64px;
    }

    &__title {
        width: fit-content;
        margin-bottom: 48px;
        text-align: initial;

        h2 {
            @include heading-h2;

            .cohousing-word {
                @include heading-h2;

                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }

    &__text {
        @include text--lg;

        .cohousing-line {
            @include text--lg;
        }
    }

    &__cta {
        display: flex;
        justify-content: center;
    }

    // Tablet styles
    @include respond-to(tablet) {
        &__container {
            width: 70%;
            margin-top: 25%;
        }

        &__title {
            margin-bottom: 56px;
        }

        &__text {
            max-width: 80%;
        }
    }

    // Desktop styles
    @include respond-to(desktop) {
        align-items: center;

        &__container {
            width: 60%;
            margin-top: 0;
        }

        &__title {
            margin-bottom: 64px;
        }

        &__text {
            max-width: 60%;
        }

        &__cta {
            width: 100%;
        }
    }
}