@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.cohousing {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__container {
        width: 80%;
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cohousing__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 64px;

            &__title {
                width: fit-content;
                margin-bottom: 48px;
                text-align: initial;
            }

            &__text {
                @include text--lg;
            }
        }

        .cohousing__cta {
            display: flex;
            justify-content: center;
        }
    }

    // Tablet styles
    @include respond-to(tablet) {
        &__container {
            width: 70%;
            margin-top: 25%;

            .cohousing__content {
                &__title {
                    margin-bottom: 56px;
                }

                &__text {
                    max-width: 80%;
                }
            }
        }
    }

    // Desktop styles
    @include respond-to(desktop) {
        &__container {
            width: 60%;
            margin-top: 15%;

            .cohousing__content {
                &__title {
                    margin-bottom: 64px;
                }

                &__text {
                    max-width: 60%;
                }
            }

            .cohousing__cta {
                // justify-content: flex-start;
                width: 100%;
            }
        }
    }
}