@use "../00_common/variables" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;
@use "../01_fundaments/_typography" as *;

.detail {
    width: 100%;
    min-height: 100vh;
    background-color: $beige;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    // padding-bottom: 64px;

    &__container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .detail__header {
            margin-bottom: 48px;

            img {
                width: 100%;
                // max-width: 600px;
                height: auto;
                margin-bottom: 32px;
            }

            &__title {
                @include heading-h2;
                text-align: center;
                // margin-top: 24px;
                font-weight: bold;
            }
        }

        .detail__content {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 48px;
            margin-bottom: 64px;

            &__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;
            }

            &__body {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;
                // @include text--md;

                &__description {
                    @include text--md;
                }

                &__details {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows: 1fr;
                    gap: 24px;
                }

                &__location {
                    width: 110%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $green;
                    border-radius: 8px;
                    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);

                    iframe {
                        width: 100%;
                        height: 450px;
                        border: 0;
                        border-radius: 8px;
                    }
                }

                .hidden {
                    display: none;
                }
            }
        }
    }
}