@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.faciliteiten {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $beige;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;

        // .faciliteiten__img {
        //     width: 100%;
        //     height: calc((100vh / 3) * 1);

        //     img {
        //         width: 100%;
        //         height: 100%;
        //         object-fit: cover;
        //         object-position: center;
        //         will-change: transform, opacity;
        //     }
        // }

        .faciliteiten__content {
            width: 100%;
            min-height: calc((100vh / 3) * 2);
            padding: 10% 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__title {
                width: fit-content;
                margin-bottom: 32px;
            }

            &__body {
                width: 85%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                margin-bottom: 48px;
                @include text--md;

                .faciliteiten__list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    margin-left: 32px;

                    li {
                        list-style: disc;
                    }
                }
            }

            &__cta {
                width: fit-content;
            }
        }
    }

    @media screen and (min-width: 1100px) {
        align-items: stretch;

        &__container {
            // flex-direction: row;
            // align-items: stretch;
            width: 100%;
            margin: 0 auto;
            min-height: 100vh;

            // .faciliteiten__img {
            //     width: 40%;
            //     height: 100%;
            //     max-height: 100vh;
            // }

            // .faciliteiten__slider {
            //     width: 40%;
            //     height: 100%;
            //     max-height: 100vh;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }

            .faciliteiten__content {
                width: 100%;
                min-height: 100vh;
                padding: 5% 5%;
                align-items: flex-start;
                justify-content: center;
                z-index: 2;
                background-color: $beige;
            }
        }
    }
}