@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.faciliteiten {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $beige;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Overlay content panel (position/visibility is handled in _gallery.scss too) */
    &__content {
        width: 100%;
        min-height: calc((100vh / 3) * 2);
        padding: 10% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 64px;
    }

    &__title {
        width: fit-content;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include text--md;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 32px;

        &__item {
            list-style: disc;
        }
    }

    &__cta {
        width: fit-content;
    }

    @media screen and (min-width: 1100px) {
        align-items: stretch;

        &__container {
            width: 100%;
            margin: 0 auto;
            min-height: 100vh;
        }

        &__content {
            width: 100%;
            min-height: 75vh;
            padding: 5% 5%;
            align-items: flex-start;
            justify-content: center;
            z-index: 2;
            background-color: $beige;
        }

        &__wrapper {
            width: 60%;
            align-items: center;
        }

        &__body {
            width: 85%;
            @include text--lg;
        }
    }
}