@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

footer.footer {
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $lightGreen;

    .footer__container {
        width: 80%;
        padding: 15% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .footer__logo {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 48px;
            }

            &__body {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                &--left {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .contact-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 32px;
                        margin-bottom: 64px;

                        &__title {
                            // margin-bottom: 32px;

                            h2 {
                                font-weight: bold;
                                color: $darkGreen;
                            }
                        }

                        &__details {
                            // width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 24px;
                            color: $darkGreen;
                            @include text--md;

                            a {
                                @include text--md;
                                color: $darkGreen;
                                text-decoration: underline;

                                &:hover {
                                    font-weight: bold;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .socials {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 24px;

                        &__title {
                            h2 {
                                font-weight: bold;
                                color: $darkGreen;
                            }
                        }

                        &__links {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 24px;

                            a {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                &--right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 64px;

                    .footer__links {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 24px;


                        a {
                            @include heading-h3;
                            text-decoration: underline;
                            color: $darkGreen;

                            &:hover {
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    @include respond-to(tablet) {
        min-height: 65vh;

        .footer__container {
            width: 85%;
            padding: 10% 0;

            .footer__content {
                .footer__logo {
                    justify-content: center;
                    margin-bottom: 96px;
                }

                &__body {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: flex-start;

                    &--left {
                        width: 40%;
                        margin-bottom: 0;


                        .contact-info {
                            width: 100%;
                            // margin-bottom: 0;

                            &__details {
                                gap: 16px;
                            }
                        }

                        .socials {
                            width: 100%;
                            // margin-bottom: 0;
                        }
                    }

                    &--right {
                        width: 30%;
                        margin-bottom: 0;

                        .footer__links {
                            gap: 24px;
                        }
                    }

                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .footer__container {
            width: 70%;
            padding: 8% 0;
        }
    }

    @media screen and (min-width: 1600px) {
        .footer__container {
            width: 60%;
        }
    }
}