.footer {
    position: relative;
    background-color: $lightGrey;
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 65vh;

    &__logo {
        svg {
            path {
                fill: $primary;
            }
        }
    }

    &__container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px 0 164px;

        &--desktop {
            display: none;
        }

        .footer__column {

            &__title {
                margin-bottom: 24px;
            }

            &__content {
                @extend .text--lg;

                a {
                    text-decoration: underline;
                    color: initial;
                }
            }

            &--middle__content {
                display: flex;
                justify-content: space-between;
                gap: 40px;
            }

            &--right__content {
                flex-direction: column !important;

                a {
                    text-decoration: none;
                }

                .socials {
                    margin-top: 10px;
                    display: flex;
                    gap: 26px;
                }
            }
        }
    }

    .accordion {
        &__item {

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;
                @extend .text--md;
                max-height: 0 !important;
                overflow: hidden;
                transition: all 0.3s ease;
            }

            &--open {
                .accordion__item__content {
                    max-height: initial !important;
                    overflow: hidden;
                    margin: 8px 0 40px;
                }
            }
        }
    }

    &__bottom-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $primary;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 13px 0;
        color: $white;
        @extend .text--sm;
        text-transform: unset;

        &__item {
            text-align: center;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        background-image: url(../img/vineyard-line-art.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        padding: 50px 0;
        min-height: 85vh;

        &__container {
            width: 90%;
            flex-direction: row;
            justify-content: space-between;

            &--desktop {
                display: flex;
            }

            &--mobile {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        &__container {
            width: 75%;
        }
    }
}