@use "../00_common/mixins" as *;

.gallery-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery {
    position: relative;
    width: 100%;
    height: 100%;
    flex: none;

    &__item {
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
        flex: none;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &--bento {
        display: grid;
        gap: 1vh;
        grid-template-columns: repeat(3, 32.5vw);
        grid-template-rows: repeat(4, 23vh);
        justify-content: center;
        align-content: center;

        .gallery__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 2;
            }

            &:nth-child(2) {
                grid-area: 1 / 2 / 2 / 3;
            }

            &:nth-child(3) {
                grid-area: 2 / 2 / 4 / 3;
            }

            &:nth-child(4) {
                grid-area: 1 / 3 / 3 / 3;
            }

            &:nth-child(5) {
                grid-area: 3 / 1 / 3 / 2;
            }

            &:nth-child(6) {
                grid-area: 3 / 3 / 5 / 4;
            }

            &:nth-child(7) {
                grid-area: 4 / 1 / 5 / 2;
            }

            &:nth-child(8) {
                grid-area: 4 / 2 / 5 / 3;
            }
        }
    }

    &--final {
        &.gallery--bento {
            grid-template-columns: repeat(3, 100vw);
            grid-template-rows: repeat(4, 49.5vh);
            gap: 1vh;
        }
    }
}

/* Overlay panel for facilities content */
#faciliteiten {
    .faciliteiten__content {
        position: absolute;
        left: 5vw;
        right: 5vw;
        z-index: 5;

        max-width: 90vw;
        margin: 0 auto;

        background: rgba(230, 230, 230, 0.95);

        /* Hidden by default; revealed by GSAP at the end */
        opacity: 0;
        pointer-events: none;
        transform: translateY(16px);

        @include respond-to(tablet) {
            max-width: 85vw;
        }

        @media screen and (min-width: 1200px) {
            max-width: 60vw;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    #faciliteiten .faciliteiten__content {
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }
}