.gallery-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery {
    position: relative;
    width: 100%;
    height: 100%;
    flex: none;

    &__item {
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
        flex: none;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &--bento {
        display: grid;
        gap: 1vh;
        grid-template-columns: repeat(3, 32.5vw);
        grid-template-rows: repeat(4, 23vh);
        justify-content: center;
        align-content: center;

        .gallery__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 3 / 2;
            }

            &:nth-child(2) {
                grid-area: 1 / 2 / 2 / 3;
            }

            &:nth-child(3) {
                grid-area: 2 / 2 / 4 / 3;
            }

            &:nth-child(4) {
                grid-area: 1 / 3 / 3 / 3;
            }

            &:nth-child(5) {
                grid-area: 3 / 1 / 3 / 2;
            }

            &:nth-child(6) {
                grid-area: 3 / 3 / 5 / 4;
            }

            &:nth-child(7) {
                grid-area: 4 / 1 / 5 / 2;
            }

            &:nth-child(8) {
                grid-area: 4 / 2 / 5 / 3;
            }
        }
    }

    &--final {
        &.gallery--bento {
            grid-template-columns: repeat(3, 100vw);
            grid-template-rows: repeat(4, 49.5vh);
            gap: 1vh;
        }
    }
}