@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.header {
    width: 100%;
    position: relative;

    &__navbar {
        position: fixed;
        top: 32px;
        right: 32px;
        width: 25%;
        // height: 150px;
        background: transparent;
        // background-image: url("../img/home-background-mobile.svg");
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
        // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        // backdrop-filter: blur(10px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 20;
        padding: 1rem 2rem;
        border-radius: 30px;
    }

    &__menu-toggle {
        // position: fixed;
        // top: 2rem;
        // right: 2rem;
        background: none;
        border: none;
        z-index: 20;

        #theBurger {
            cursor: pointer;
            // margin-bottom: 30px;
            opacity: 0;
        }
    }

    &__menu {
        position: fixed;
        top: 32px; // 32px offset from top + estimated navbar height
        right: 32px;
        width: 25%;
        background-image: url("../img/home-background-mobile.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        height: 0;
        z-index: 10;
        padding-top: 110px;
        // padding: 1rem 2rem;

        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem 0;

            .header__menu__item {
                width: 100%;
                text-align: center;
                // padding: 1rem 0;

                a {
                    display: inline-block;
                    @include heading-h4;
                    color: $darkGreen;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}