@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.header {
    width: 100%;
    position: relative;
    z-index: 999;

    &__navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: $darkGreen;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        z-index: 20;
        transition: ease 0.4s;

        .header__left {
            width: 25%;

            .button {
                @include text--sm;
                min-width: initial;
                width: 100%;
                border: 1px solid $yellow;
            }
        }

        .header__logo {
            flex: 1;
            width: 50%;
            height: 50%;
            margin: auto;

            a {
                display: block;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .header__right {
            width: 25%;
            display: flex;
            justify-content: flex-end;

            .header__menu-toggle {
                background: none;
                border: none;
                outline: none;
                z-index: 20;

                #theBurger {
                    width: 65px;
                    height: 65px;
                    cursor: pointer;
                    opacity: 0;
                }
            }
        }
    }

    &__menu {
        position: fixed;
        top: 80px;
        right: 0;
        width: 0;
        height: 0;
        background-color: $darkGreen;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        max-height: 95vh;
        z-index: 10;
        padding: 0;
        opacity: 0;

        &__items {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0 0 2rem;
            max-height: 95vh;

            .header__menu__item {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 1rem 0;
                text-align: center;
                cursor: pointer;

                a {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    @include heading-h4;
                    color: $yellow;
                    text-decoration: none;
                    font-weight: bold;
                }
            }

            &__divider {
                width: 90%;
                padding: 1rem 0;

                span {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $yellow;
                    opacity: 0.5;
                }
            }
        }
    }

    @include respond-to(tablet) {
        .header__menu__items__divider {
            width: 60%;
        }
    }

    @media screen and (min-width: 1200px) {
        .header__menu__items__divider {
            width: 50%;
        }
    }
}