@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.header {
    width: 100%;
    position: relative;

    &__navbar {
        position: fixed;
        top: 16px;
        right: 5%;
        width: 90%;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 20;
        padding: 12.5px 12.5px 0 0;
        border-radius: 30px;
    }

    &__menu-toggle {
        background: none;
        border: none;
        outline: none;
        z-index: 20;

        #theBurger {
            width: 65px;
            height: 65px;
            cursor: pointer;
            opacity: 0;
        }
    }

    &__menu {
        position: fixed;
        top: 16px;
        right: 5%;
        width: 90px;
        background-image: url("../img/home-background-mobile.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        height: 0;
        z-index: 10;
        padding-top: 90px;

        &__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 1rem 0 2rem;

            .header__menu__item {
                position: relative;
                display: inline-block;
                width: 30%;
                padding: 0.5rem 0;
                text-align: center;
                cursor: pointer;

                // &::before {
                //     content: "";
                //     position: absolute;
                //     inset: 0;
                //     border: 2px solid $darkGreen;
                //     border-radius: 12px;
                //     opacity: 0;
                //     transform: scale(0.8);
                //     pointer-events: none;
                //     transition: none; // We use GSAP for animation
                // }

                // .border {
                //     position: absolute;
                //     inset: 0;
                //     border: 2.5px solid $darkGreen;
                //     border-radius: 40px;
                //     opacity: 0;
                //     transform: scale(0.8);
                //     pointer-events: none;
                //     z-index: 0;
                // }


                a {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                    @include heading-h4;
                    color: $darkGreen;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }

    @include respond-to(tablet) {
        &__navbar {
            top: 24px;
            right: 24px;
            width: 60%;
        }

        &__menu-toggle {
            #theBurger {
                width: 75px;
                height: 75px;
            }
        }

        &__menu {
            top: 24px;
            right: 24px;
            width: 100px;
            padding-top: 100px;
        }
    }

    @include respond-to(desktop) {
        &__navbar {
            top: 32px;
            right: 32px;
            width: 40%;
        }

        &__menu {
            top: 32px;
            right: 32px;

            &__items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}