.hero {
    background: $grad-hero-mobile;
    background-size: cover;
    background-position: bottom;
    flex: 1;
    display: flex;
    justify-content: center;
    background-size: cover;
    min-height: 50vh;
    padding-bottom: 32px;

    &__content {
        width: 75%;
        margin-left: 0;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: $white;

        &__title {
            font-size: 56px;
            margin-bottom: 15px;
            text-align: center;
        }

        &__text {
            @extend .text--md;
            text-align: center;
        }

        &__cta {
            width: fit-content;
            margin-top: 25px;
        }
    }
}

//Desktop

@media screen and (min-width: 1000px) {
    .hero {
        background: $grad-hero;
        background-position: center;
        justify-content: initial;
        min-height: 80vh;

        &__content {
            width: 35%;
            margin-left: 8%;
            padding: initial;
            justify-content: center;
            align-items: initial;
            gap: initial;

            &__title {
                font-size: 56px;
                margin-bottom: 15px;
                text-align: initial;
            }
    
            &__text {
                @extend .text--md;
                text-align: initial;
            }
    
            &__cta {
                width: fit-content;
                margin-top: 25px;
            }
        }
    }

}