@use "../00_common/variables" as *;
@use "../00_common/mixins" as *;

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url("@/img/home-background-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 70%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 35vh;

        &__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
            text-align: center;

            .logo {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .home__subtitle {
                display: inline-block;

                span {
                    display: inline-block;
                }

                .home-subtitle-word {
                    font-family: $ff-heading;
                }
            }
        }

        .scroll-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 128px;
            cursor: pointer;
        }
    }

    @include respond-to(tablet) {
        background-image: url("@/img/home-background.jpg");

        &__container {
            width: 60%;
            padding-top: 30vh;

            &__content {
                gap: 16px;

                .logo {
                    img {
                        width: 90%;
                    }
                }
            }
        }
    }

    @include respond-to(desktop) {
        background-image: url("@/img/home-background.jpg");

        &__container {
            width: 50%;
            padding-top: 25vh;

            &__content {
                gap: 20px;
            }
        }
    }
}