@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.insights {
    width: 100%;
    min-height: 100vh;
    background-color: $beige;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        width: fit-content;
        text-align: center;
        margin-bottom: 32px;

        h2 {
            font-weight: bold;
        }
    }

    &__body {
        margin-bottom: 48px;
    }

    &__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    @include respond-to(tablet) {
        &__container {
            width: 75%;
        }
    }

    @include respond-to(desktop) {
        &__container {
            width: 80%;
        }

        &__content {
            gap: 64px;
        }

        &__title {
            margin-bottom: 0;
        }

        &__body {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 0;

        &__cards {
            flex-direction: row;
            align-items: stretch;
            gap: 32px;
        }
    }

    @media screen and (min-width: 1400px) {
        &__cards {
            gap: 48px;
        }
    }

    @media screen and (min-width: 1600px) {
        &__container {
            width: 70%;
        }
    }
}