@use "../00_common/variables";
@use "../01_fundaments/_typography";

.our-story {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$darkGreen;
    color: white;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .our-story__title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px 0 40px;
            text-align: center;
            font-weight: bold;
        }

        .our-story__content {
            width: 100%;
            @extend .text--md;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }
    }
}