@use "../00_common/variables" as *;
@use "../00_common/mixins" as *;
@use "../01_fundaments/_typography" as *;

.our-story {
    width: 100%;
    min-height: 100vh;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGreen;
    color: white;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin: 8px 0 40px;
        text-align: center;
        font-weight: bold;
    }

    &__content {
        width: 100%;
        @include text--md;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    &__col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    @include respond-to(desktop) {
        padding: 0;

        &__container {
            width: 80%;
            align-items: flex-start;
        }

        &__content {
            flex-direction: row;
            align-items: flex-start;
            gap: 86px;
        }

        &__col {
            width: 50%;
        }
    }
}