@use "../00_common/variables" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.overview {
    width: 100%;
    min-height: 100vh;
    background-color: $beige;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .overview__header {
            margin-bottom: 48px;

            .overview__title {
                @include heading-h2;
                text-align: center;
            }
        }

        .overview__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .overview__cards {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 48px;
            }

            a.link {
                margin: 32px 0;
                color: $darkGreen;
                text-decoration: underline;

                &:hover,
                &:focus-visible {
                    font-weight: bold;
                }
            }
        }
    }

    // Tablet styles
    @media screen and (min-width: 860px) {
        &__container {
            width: 75%;

            .overview__content {
                .overview__cards {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    // Desktop styles
    @media screen and (min-width: 1200px) {
        &__container {
            .overview__content {
                .overview__cards {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}