@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;


.portal {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $darkGreen;

    &__container {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40%;

        .portal__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__title {
                width: fit-content;
                text-align: center;
                margin-bottom: 86px;

                h2 {
                    @include heading-h1;
                    color: $yellow;
                }
            }
        }
    }
}