.products {
    width: 100%;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        @extend .text--sm;

        .products__filter {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            &__icon {
                width: 24px;
                height: 24px;
            }

            &__text {
                p {
                    text-transform: capitalize;
                }
            }
        }

        .products__sort {
            display: none;
        }
    }

    &__overview {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1000px) {
    .products {
        width: 65%;

        &__header {
            .products__filter {
                display: none;
            }

            .products__sort {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 24px;
    
                p {
                    width: 100%;
                }
    
                .select {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 5px;
                    padding: 0 15px;
                    cursor: pointer;
    
                    &::after {
                        content: "";
                        background-image: url(../img/lines/arrow-icon-right-primary.svg);
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(90deg);
                        width: 12px;
                        height: 22px;
                    }
    
                    select {
                        appearance: none;
                        outline: none;
                        border: none;
                        margin: 0;
                        color: $primary;
                        font-size: $sm;
                        cursor: pointer;
                        padding: 0 15px;
                    }
                }
    
            }
        }

        &__overview {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 32px;
        }
    }
}