@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.quote {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6C8480;
    background: linear-gradient(45deg, rgba(108, 132, 128, 1) 25%, rgba(186, 200, 177, 1) 100%);

    &__container {
        position: relative;
        width: 80%;
        padding: 0 48px;
        min-height: 80vh;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        text-align: center;
        background-color: $white;
    }

    &__text {
        width: 100%;

        p {
            @include heading-h2;

            .quote-char {
                @include heading-h2;
            }
        }
    }

    &__mark {
        display: flex;

        &--top {
            justify-content: flex-start;
            margin-top: -24px;
        }

        &--bottom {
            justify-content: flex-end;
            margin-bottom: -24px;
        }
    }

    &__mark-img {
        width: 64px;
    }

    @include respond-to(tablet) {
        &__container {
            padding: 0 64px;
            min-height: 70vh;
        }

        &__mark-img {
            width: 86px;
        }

        &__mark {
            &--top {
                margin-top: -32px;
            }

            &--bottom {
                margin-bottom: -32px;
            }
        }
    }

    @include respond-to(desktop) {
        &__container {
            padding: 0 86px;
            min-height: 60vh;
        }
    }
}