.slider {
    position: relative;
    width: 100%;
    // height: 50%;
    aspect-ratio: 5/4;
    max-height: 100vh;
    perspective: 100px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    --offset: 20px;

    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        // aspect-ratio: 3/2;
        background: transparent;

        //default values
        left: 0;
        top: 0;
    }

    @media screen and (min-width: 1100px) {
        width: 80%;
        aspect-ratio: 5/4;

        &__item {
            &:nth-child(5) {
                left: 0;
                top: 0;
            }

            &:nth-child(4) {
                left: 40px;
                top: -40px;
            }

            &:nth-child(3) {
                left: 80px;
                top: -80px;
            }

            &:nth-child(2) {
                left: 120px;
                top: -120px;
            }

            &:nth-child(1) {
                left: 160px;
                top: -160px;
            }
        }
    }
}