.spotlight {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 75px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        &--left {
            width: 100%;
            margin-bottom: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &--right {
            width: 100%;
            padding-bottom: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &__title {
                margin-bottom: 18px;
            }

            &__text {
                @extend .text--md;
            }

            &__cta {
                width: fit-content;
                margin-top: 37px;
            }
        }
    }

    &__controls {
        position: absolute;
        top: 30%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
}

//Desktop

@media screen and (min-width: 1050px) {
    .spotlight {
        width: 85%;
        height: 100vh;
        margin: 50px auto 0;

        &__title {
            margin-bottom: 50px;
        }

        &__content {
            flex-direction: row;
            justify-content: space-evenly;
            padding: 50px 0;

            &--left {
                width: 40%;
                margin-bottom: 0;
            }

            &--right {
                width: 40%;
                padding-bottom: 0;
                align-items: flex-start;
                text-align: left;
            }
        }

        &__controls {
            top: 50%;
            margin-bottom: 0;
        }
    }
}