.suggestions {
    display: none;
}

@media screen and (min-width: 1000px) {
    .suggestions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 56px 0;
    
        &__container {
            width: calc(100% - 184px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
    
            .suggestions__title {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 56px;
            }
    
            .suggestions__body {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
    
}