@use "../00_common/variables" as *;
@use "../00_common/mixins" as *;

.transition__arms {
    display: none;

    // Desktop styles
    @media screen and (min-width: 1500px) {
        display: block;
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: 998; //on top but just under header menu

        .arm {
            position: absolute;

            &--bottom {
                width: 343px;
                height: 235px;
                bottom: -343px;
                left: 40%;
            }

            &--top {
                width: 226px;
                height: 366px;
                top: -366px;
                left: 15%;
            }

            &--left {
                width: 210px;
                height: 349px;
                left: -210px;
                top: 40%;
            }

            &--right {
                width: 270px;
                height: 298px;
                right: -270px;
                top: 30%;
            }

            &--bottom-right {
                width: 243px;
                height: 280px;
                bottom: -280px;
                left: 75%;
            }
        }
    }
}