@use "../00_common/variables" as *;
@use "../00_common/mixins" as *;

.transition__arms {
  display: none;

  @media screen and (min-width: 1500px) {
    display: block;
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 998;

    .arm {
      position: absolute;
      width: 12vw; // scalable size
      height: auto; // preserve aspect ratio
      opacity: 0;

      &--top {
        top: -12vw;
        left: 15%;
      }

      &--left {
        left: -12vw;
        top: 40%;
      }

      &--right {
        right: -12vw;
        top: 30%;
      }

      &--bottom-right {
        bottom: -12vw;
        left: 75%;
      }
    }
  }
}
