@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;

.logo {
    &--small {
        width: 86px;
        height: auto;
    }

    &--footer {
        img {
            width: 175px;
            height: auto;
        }
    }
}