@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;

.logo {
    &--small {
        width: 86px;
        height: auto;
    }

    &--footer {
        img {
            width: 175px;
            height: auto;
        }
    }
}

.logo-wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}