.price-tag {
    &__label {
        display: none;
    }

    &__pill {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: -16px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1050px) {
    .price-tag {
        position: relative;

        &__label {
            position: absolute;
            left: 75%;
            top: 95%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__label__content {
            position: absolute;
            left: 62.5%;
            top: 25%;
            z-index: 1;
            color: $white;
        }

        &__pill {
            display: none;
        }
    }
}