.title-tag {
    &__label {
        display: none;
    }

    &__pill {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 8px;
    }
}

@media screen and (min-width: 1350px) {
    .title-tag {
        position: relative;

        &__label {
            position: absolute;
            left: 38%;
            top: -50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__label__content {
            position: absolute;
            left: 62.5%;
            top: auto;
            z-index: 1;
            color: $white;
        }

        &__pill {
            display: none;
        }
    }
}
