@use "../00_common/variables" as *;

* {
    box-sizing: border-box;
    font-family: $ff-body;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $darkGreen;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

#smooth-wrapper {
    overflow: hidden;
}

#smooth-content {
    will-change: transform;
}
