.products-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }

    &__container {
        width: 95%;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

}

@media screen and (min-width: 1000px) {
    .products-page {
        &__container {
            width: 90%;
        }
    }
    
}