@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;

.button {
    @include text--md;
    width: 148px;
    height: 48px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;

    &--primary {
        background-color: $lightGreen;
        color: $darkGreen;
        border: 1px solid $green;
    }

    &--lila {
        background-color: $lila;
        color: $darkGreen;
        border: 1px solid $yellow;
    }

    &--yellow {
        background-color: $yellow;
        color: $darkGreen;
        border: 1px solid $green;
    }

    &--darkGreen {
        background-color: $darkGreen;
        color: $yellow;
        border: 1px solid $green;
    }

    &:hover {
        cursor: pointer;
    }
}

.button-char {
    display: inline-block;
    will-change: transform;

    &--bold {
        font-weight: bold;
    }
}