@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;

.button {
    @include text--md;
    min-width: 160px;
    height: 48px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;

    &--primary {
        background-color: $lightGreen;
        color: $darkGreen;
        border: 1px solid $green;
    }

    &--lila {
        background-color: $lila;
        color: $darkGreen;
        border: 1px solid $yellow;
    }

    &--yellow {
        background-color: $yellow;
        color: $darkGreen;
        border: 1px solid $green;
    }

    &--darkGreen {
        background-color: $darkGreen;
        color: $yellow;
        border: 1px solid $green;
    }

    &--back {
        position: absolute;
        top: 32px;
        left: 32px;
        background-color: $yellow;
        color: $darkGreen;
        border: 1px solid $darkGreen;
        gap: 8px;
        padding: 8px 24px;
        min-width: auto;
        height: auto;
        z-index: 10;
    }

    &--detail-content {
        height: 40px;
        justify-content: flex-start;
        // gap: 12px;
        background-color: $yellow;
        color: $darkGreen;
        border: 1px solid $darkGreen;
        border-radius: 90px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        @include text--sm;
        min-width: 145px;

        svg {
            // margin-right: 12px;
            background-color: $darkGreen;
            width: 40px;
            height: 40px;
            border-radius: 90px;
            // border: 1px solid $darkGreen;

            path {
                stroke: $yellow;
            }
        }

        .text {
            padding: 0 8px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.button-char {
    display: inline-block;
    will-change: transform;

    &--bold {
        font-weight: bold;
    }
}