@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;

.button {
    @include text--md;
    min-width: 160px;
    height: 48px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    &__flair {
        bottom: 0;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
            aspect-ratio: 1/1;
            border-radius: 50%;
            content: "";
            display: block;
            left: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
            width: 170%;
        }
    }

    &__label {
        position: relative;
        text-align: center;
        transition: color 50ms ease-in-out;
    }

    &--primary {
        background-color: $lightGreen;

        .button__label {
            color: $darkGreen;
        }

        &:after {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $darkGreen;
            border-radius: 6px;
            content: "";
            pointer-events: none;
        }

        &:hover {
            .button__label {
                transition: color 0.15s ease-in-out;
                color: $yellow;
                text-decoration: none;
            }
        }

        .button__flair {
            transform: scale(0);
            transform-origin: 0 0;
            will-change: transform;

            &::before {
                background-color: $darkGreen;
            }
        }
    }

    &--yellow {
        background-color: $yellow;

        .button__label {
            color: $darkGreen;
        }

        &:after {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $darkGreen;
            border-radius: 6px;
            content: "";
            pointer-events: none;
        }

        &:hover {
            .button__label {
                transition: color 0.15s ease-in-out;
                color: $yellow;
                text-decoration: none;
            }
        }

        .button__flair {
            transform: scale(0);
            transform-origin: 0 0;
            will-change: transform;

            &::before {
                background-color: $darkGreen;
            }
        }
    }

    &--darkGreen {
        background-color: $darkGreen;

        .button__label {
            color: $yellow;
        }

        &:after {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $yellow;
            border-radius: 6px;
            content: "";
            pointer-events: none;
        }

        &:hover {
            .button__label {
                transition: color 0.15s ease-in-out;
                color: $darkGreen;
                text-decoration: none;
            }
        }

        .button__flair {
            transform: scale(0);
            transform-origin: 0 0;
            will-change: transform;

            &::before {
                background-color: $yellow;
            }
        }
    }

    &--back {
        position: absolute;
        top: 32px;
        left: 32px;
        background-color: $yellow;
        color: $darkGreen;
        gap: 8px;
        padding: 8px 24px;
        min-width: auto;
        height: auto;
        z-index: 10;

        .button__label {
            color: $darkGreen;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &:after {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $darkGreen;
            border-radius: 6px;
            content: "";
            pointer-events: none;
        }

        &:hover {
            .button__label {
                transition: color 0.15s ease-in-out;
                color: $yellow;
                text-decoration: none;

                svg {
                    path {
                        transition: fill 0.15s ease-in-out;
                        fill: $yellow;
                    }
                }
            }
        }

        .button__flair {
            transform: scale(0);
            transform-origin: 0 0;
            will-change: transform;

            &::before {
                background-color: $darkGreen;
            }
        }
    }

    &--detail-content {
        position: relative;
        overflow: hidden;
        -webkit-tap-highlight-color: transparent;
        height: 40px;
        justify-content: flex-start;
        background-color: $yellow;
        color: $darkGreen;
        border: 1px solid $darkGreen;
        border-radius: 90px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        @include text--sm;
        min-width: 145px;

        .button__bubble {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: $darkGreen;
            border-radius: 50%;
            top: 50%;
            left: 20px;
            transform: translate(-50%, -50%) scale(0);
            transform-origin: left;
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }

        svg {
            width: 40px;
            height: 40px;
            border-radius: 90px;
            z-index: 2; // above bubble
        }

        .text {
            padding: 0 8px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.button-char {
    display: inline-block;
    will-change: transform;

    &--bold {
        font-weight: bold;
    }
}