.card-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &__container {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;

        .card {
            &--product {
                width: calc((100% / 3) - 36px);
                margin-inline: 0 54px;
                flex-shrink: 0;
                margin-bottom: 0;
            }
        }
    }

    &__controls {
        width: 16px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;

            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }
}

@media screen and (min-width: 1570px) {
    .card-slider {
        &__container {
            width: 80%;
        }
    }
    
}