@use "../00_common/variables" as *;
@use "../01_fundaments/_typography" as *;
@use "../00_common/mixins" as *;

.card {
    &--lila {
        background-color: $lila;
    }

    &--green {
        background-color: $green;
    }

    &--orange {
        background-color: $orange;
    }

    &--practical {
        background-color: $yellow;
        border: 1px solid $green;
        border-radius: 6px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;

        &__info {
            @include text--xl;
            font-weight: bold;
        }

        &__name {
            @include text--sm;
            font-weight: normal;
        }
    }

    &--insights {
        width: 90%;
        min-height: 400px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &__content {
            @include text--md;
        }
    }

    &--overview {
        width: 90%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        background-color: $white;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);

        .card__img {
            width: 100%;
            height: auto;
            max-height: 175px;
            object-fit: cover;
            border-radius: 14px 14px 0 0;
            margin-bottom: 24px;
        }

        .card__content {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            padding: 0 16px 16px;
            @include text--md;

            .card__title {
                display: flex;
                align-items: center;
                gap: 12px;

                a {
                    text-decoration: none;
                    color: inherit;
                }

                h4.detail-link-title {

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.075em;
                        background-color: black;
                        opacity: 0;
                        transform: scale(0);
                        transform-origin: left;
                        transition: opacity 300ms, transform 300ms;
                    }

                    &:hover {
                        cursor: pointer;

                        &::after {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }

            .card__description {
                ul {
                    margin-left: 16px;

                    li {
                        list-style-type: disc;
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}