@use "../00_common/variables" as *;
@use "../01_fundaments/_headings" as *;
@use "../00_common/mixins" as *;

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px 0 48px 0;

    &__line {
        width: 100%;
        height: 2px;
        background-color: $darkGreen;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &__title {
        @include heading-h3;
        color: $darkGreen;
        text-align: center;
        
    }
}